<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>
        %magenta(%d{yyyy-MM-dd HH:mm:ss.SSS}) ❱ %highlight(%5p) ❱❱ %green(%20.-20thread) ❱❱❱ %cyan(%logger{36}) ➤ %m%n
      </pattern>
    </encoder>
  </appender>

  <root level="info">
    <appender-ref ref="STDOUT"/>
  </root>
 
</configuration>
